.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    & a{
        text-transform: uppercase;
        color: #232323;
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
        padding: 0 1rem;
        &:hover{
            color: #A60816
        }
    }
    
}
@media only screen and (max-width: 1024px) {
    .container {
        & a{
            padding: 0 .5rem;
        }
    }
}
@media only screen and (max-width: 600px){
    .container{
        display: none;
    }
}