@import '../../styles//variables';

.container{
  & p{
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  & h2{
    font-size: 19px;
    font-weight: 600;
    font-family: 'Tillium', sans-serif;
    color: #A60816;
  }  
  & a{
    text-decoration: none;
    font-weight: bold;
    color: #A60816;
    font-size: 12px;
    & span{
      font-size: 10px;
    }
  }
  & .link{
    text-decoration: none;
    color:white;
    font-weight: 500;
    background: #A60816;
    padding: 10px 3rem;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    font-size: 19px;
    font-family: 'Tillium', sans-serif;
    margin-top: 24px;
  }
  & h1{
    text-align: center;
  }
  & ul{
      text-align: left;
      font-family: inherit;
      font-size: 14px;
      margin-bottom: 0;
      & li{
          margin-bottom: 1rem;
      }
  }
  & > img{
    margin-bottom: 0;
  }
}
.italic{
  font-style: italic;
}
.justify{
    text-align: justify;
}
.dark{
    background-color: #333333;
    color: white;
    & h2{
        color: white;
    }
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
    & img{
        margin-top: 2.5rem;
        max-width: 35px;
    }
    & img:first-child{
        margin-top: 0;
    }
    img.posterImage{
        max-width: 100%;
    }
}
.cardContainer{
    border: 1px solid lightgray;
    margin-bottom: 3rem;
    & h2, p{
        color: #333333;
        padding: 0 2rem;
    }
}
.cardContainer:last-child{
  margin-bottom: 0;
}
@media only screen and (min-width: 600px) {
  .container{
    & > img{
      width: 100%;
    }
    .section.dark{
      display: flex;
      flex-direction: column;
      min-height: 24rem;
      padding: 0px 15%;
      align-items: center;
      justify-content: center;
      & img{
        margin: 0;
        margin-bottom: 2rem;
      }
      & h2{
        margin: 0;
        margin-bottom: 2rem;
      }
    }
    .section{
      padding: 0 12px;
      padding-bottom: 3rem;
      flex-direction: row;
      flex-wrap: wrap;
      & h2{
        font-size: 25px;
      }
      & p:first-child{
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
      & p{
        font-size: 18px;
        line-height: 36px;
      }
      & a{
        font-size: 18px;
        & span{
          font-size: 16px;
        }
      }
      & ul{
        font-size: 18px;
        line-height: 36px;
      }
      & > div{
        width: 30%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 36rem;
        margin: 12px;
        & > img{
          padding-bottom: 1rem;
        }
      }
      & img{
        margin: 0;
      }
    }
    & img.posterImage{
      width: 100%;
    }
  }
}