@import '../../styles//variables';

.container{
  & p{
    font-size: 12px;
    line-height: 24px;
  }
  & h2{
    font-size: 19px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Tillium', sans-serif;
    color: #333333;
  }  
  & a{
    text-decoration: none;
    font-weight: bold;
    color: #A60816;
    font-size: 12px;
    & span{
      font-size: 10px;
    }
  }
  & .link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background: #A60816;
    padding: 10px 3rem;
    text-align: center;
    border-radius: 2px;
    font-size: 19px;
    align-self: flex-start;
    margin-left: 10%;
    border: none;
    margin-bottom: 2rem;
    font-family: 'Tillium', sans-serif;
  }
  & h1{
    text-align: center;
  }
  & ul{
      text-align: center;
      font-family: inherit;
      font-size: 14px;
      margin-bottom: 0;
      & li{
          margin-bottom: 1rem;
      }
  }
}
.italic{
  font-style: italic;
}
.justify{
    text-align: justify;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1.5rem;
    & img{
        margin-top: 1.5rem;
        max-width: 50px;
    }
    & img:first-child{
        margin-top: 0;
    }
    img.posterImage{
        max-width: 100%;
    }
}
form{
    // padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: lightgray;
    & input:first-child{
      margin-top: 24px;
    }
    & input{
        margin-bottom: 1rem;
        padding: .5rem;
        font-style: italic;
        width: 80%;
    }
    & textarea{
        width: 80%;
        min-height: 15rem;
        margin-bottom: 1.5rem;
        font-style: italic;
    }
}
.flex{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
    & img{
        padding-right: .5rem;
        max-width: 30px;
        margin: 0;
    }
    & p{
        margin: 0;
        font-size: 12px;
    }
}
iframe{
    width: 300px;
    display: block;
    margin: 0 auto;
}