@import '../../styles//variables';

.container{
  & p{
    font-size: 12px;
    line-height: 24px;
  }
  & h2{
    font-size: 19px;
    font-weight: 600;
    font-family: 'Tillium', sans-serif;
    color: #A60816;
    text-align: center;
    line-height: 30px;
  }  
  & a{
    text-decoration: none;
    font-weight: bold;
    color: #A60816;
    font-size: 12px;
    & span{
      font-size: 10px;
    }
  }
  & .link{
    text-decoration: none;
    color:white;
    font-weight: 500;
    background: #A60816;
    padding: 10px 3rem;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    font-size: 19px;
    font-family: 'Tillium', sans-serif;
  }
  & h1{
    text-align: center;
  }
  & ul{
      text-align: left;
      font-family: inherit;
      font-size: 14px;
      margin-bottom: 0;
      & li{
          margin-bottom: 1rem;
      }
  }
  & > img{
    margin-bottom: 0;
  }
}
.italic{
  font-style: italic;
}
.justify{
    text-align: justify;
}
.important{
    font-weight: bold;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
    & img{
        margin-top: 1.5rem;
        max-width: 35px;
    }
    & img:first-child{
        margin-top: 0;
    }
    img.posterImage{
        max-width: 100%;
    }
    & iframe{
        width: 95%;
        margin-left: 0;
    }
}
@media only screen and (min-width: 600px) {
  .carouselContainer{
    width: 75%!important;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
  }
  .container{
    & > img{
      width: 100%;
    }
    & h2{
      font-size: 25px;
      line-height: 30px;
    }
    .section{
      padding: 0 12px;
      padding-bottom: 3rem;
      flex-direction: row;
      flex-wrap: wrap;
      & h2{
        font-size: 25px;
        line-height: 30px;
      }
      & p:first-child{
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
      & p{
        font-size: 18px;
        line-height: 36px;
      }
      & a{
        font-size: 18px;
        & span{
          font-size: 16px;
        }
      }
      & ul{
        font-size: 18px;
        line-height: 36px;
      }
      & > div{
        width: 50%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 31.4rem;
        padding: 48px;
        & > img{
          padding-bottom: 1rem;
        }
      }
      & > div:nth-child(5) {
        min-height: 25rem;
      }
      & > div:nth-child(6){
        min-height: 25rem;
      }
      & > div:last-child{
        padding: 48px 92px;
      }
      & img{
        margin: 0;
        max-width: 75px;
        padding-bottom: 1rem;
      }
    }
    .firstSection{
      flex-direction: column;
      padding: 3rem 4rem;
    }
    & img.posterImage{
      width: 100%;
    }
  }
}