@import '../../styles//variables';

.container{
  & p{
    font-size: 18px;
    line-height: 35px;
  }
  & button{
    font-family: $button-font;
    margin: 0 auto;
    display: block;
    background-color: white;
    &.primaryButton{
      padding: .8rem;
      font-weight: 900;
      font-size: 19px;
      letter-spacing: 4px;
      border: 4px solid $texto-main;
      text-transform: uppercase;
      &:hover, :active{
        background-color: $texto-main;
        border-color: white;
        color: white;
      }
    }
  }
  & h1{
    text-align: center;
  }
}
.italic{
  font-style: italic;
}
.sectionOne{
  padding: 24px;
  max-width: 1024px;
  margin: 0 auto;
  background-image: url('../../images/index-bg.jpg');
  padding-bottom: 4rem;
  & img{
    margin: 0;
    width: 25px;
  }
  & img.closeQuote{
    float: right;
  }
}
.sectionOne blockquote{
  font-style: italic;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.sectionOne h1{
  color: white;
  font-weight: 500;
  border-bottom: none;
  font-size: 19px;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
  margin-top: 5rem;
}
.sectionTwo{
  padding: 24px;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  & .link{
    text-decoration: none;
    color:white;
    font-weight: 500;
    background: #A60816;
    padding: 12px 3rem;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    font-size: 19px;
    font-family: 'Tillium', sans-serif;
    letter-spacing: 1px;
    margin-top: 24px;

  }
  & h2{
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Tillium', sans-serif;
  }
  & p{
    font-size: 12px;
    text-align: center;
    line-height: 24px;
  }
  & img{
    max-width: 40px;
  }
}
.sectionThree{
  padding: 24px;
  padding-top: 2rem;
  background-color: $azul;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/fondo-trayectoria.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  & h2{
    color: #A60816;
    text-align: center;
    font-weight: 600;
    font-family: 'Tillium', sans-serif;
    font-size: 19px;
  }
  & img{
    max-width: 40px;
  }
  & a{
    text-decoration: none;
    font-weight: bold;
    color: #A60816;
    font-size: 12px;
    & span{
      font-size: .9rem;
    }
  }
}
.sectionFour{
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 4rem;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h2{
    font-size: 19px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Tillium', sans-serif;
  }
  & p{
    padding-top: 0;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
  }
  & .link{
    text-decoration: none;
    color:white;
    font-weight: 600;
    background: #333333;
    padding: 12px 3rem;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    font-size: 19px;
    font-family: 'Tillium', sans-serif;
    letter-spacing: 1px;
    margin-top: 24px;
  }
  & img{
    max-width: 40px;
  }
}
.sectionFive{
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 4rem;
  padding: 24px;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333333;
  & h2{
    font-size: 19px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Tillium', sans-serif;
    color: white;
  }
  & p{
    padding-top: 0;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: white;
    font-weight: 300;
  }
  & .link{
    text-decoration: none;
    color:#A60816;
    background: white;
    padding: 12px 3rem;
    text-align: center;
    width: 100%;
    border-radius: 2px;
    font-size: 19px;
    font-family: 'Tillium', sans-serif;
    margin-top: 24px;
  }
  & img{
    max-width: 40px;
  }
}
.sectionSix{
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  & h2{
    font-size: 19px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Tillium', sans-serif;
    color: #A60816;
  }
  & p{
    padding-top: 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #A60816;
    font-weight: 500;
  }
  & .link{
    text-decoration: none;
    color:white;
    background: #A60816;
    padding: 12px 3rem;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    font-size: 19px;
    font-family: 'Tillium', sans-serif;
    letter-spacing: 1px;
    margin-top: 24px;
  }
  & img{
    max-width: 40px;
  }
}